services:
    postgres:
        image: postgres:latest
        container_name: frain-postgres
        restart: always
        environment:
            POSTGRES_USER: postgres
            POSTGRES_PASSWORD: postgres
            POSTGRES_DB: frain
        ports:
            - '5432:5432'
        volumes:
            - postgres_data:/var/lib/postgresql

volumes:
    postgres_data:
